<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="title-add mt-5">Create Restaurant</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="">Name</label>
                <input type="text" class="form-control" name="name" />
            </div>
            <div class="form-group">
                <label class="">Restaurant Code</label>
                <input type="text" class="form-control" name="res_code" />
            </div>
            <div class="form-group">
                <label class="">Description</label>
                <input type="text" class="form-control" name="description" />
            </div>
            <div class="form-group">
                <label class="">Open</label>
                <input type="text" class="form-control" name="time_open" />
            </div>
            <div class="form-group">
                <label class="">Close</label>
                <input type="text" class="form-control" name="time_close" />
            </div>
            <div class="form-group">
                <label class="">Menu</label>
                <input type="text" class="form-control" name="menu" />
            </div>
            <div class="form-group">
                <label class="">Address</label>
                <input type="text" class="form-control" name="address" />
            </div>
            <div class="form-group">
                <label class="">Image</label>
                <input type="file" class="form-control" name="imageFile" />
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="submit" class="btn btn-primary btn-restaurant-create mt-3" value="Create" />
        </div>
    </div>
</div>